<template>
  <div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="'width: ' + progress + '%'"
        :aria-valuenow="current"
        :aria-valuemin="0"
        :aria-valuemax="newQuestions.length"
      >
        {{ progress + "%" }}
      </div>
    </div>
    <QuestionVue
      v-if="selected"
      :selectedQuestion="selected"
      :handleSelect="handleSelect"
      :key="current"
      :questionNumber="current + 1"
    />
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";
import { computed } from "vue";
import QuestionVue from "../components/Question.vue";
import { useStore } from "vuex";

const router = useRouter();
const store = useStore();

// If there are no questions redirect the user to start page

const newQuestions = computed(() => store.getters.getQuestions);
const nextQuestion = () => {
  store.dispatch("nextQuestion");
};
const setAnswer = (answer) => {
  store.dispatch("setAnswer", answer);
};
const progress = computed(() => store.getters.getProgress);
const current = computed(() => store.state.index);
const selected = computed(() => store.getters.getSelectedQuestion);
const endGame = () => {
  store.dispatch("endGame").then(() => {
    router.push("/results");
  });
};
const handleSelect = (e) => {
  const answer = e.target.value;
  console.log("user selected: ", answer);
  setAnswer(answer);
  store.dispatch("nextQuestion").then((hasNext) => {
    if (!hasNext) endGame();
  });
};
</script>

<style></style>
