<template>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Results</h2>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">{{ user.username }}</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">Highscore: {{ highScore }}</h5>
          <p class="card-text">score: {{ score }}</p>
          <button
            @click="handleReturnHome"
            class="btn btn-success btn-lg w-100"
          >
            Return to home
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Questions</h2>
        </div>
        <div class="card-body">
          <div
            v-for="(question, index) in questions"
            class="card"
            :key="question"
          >
            <div class="card-header">Question {{ index + 1 }}</div>
            <div class="card-body">
              <h5 class="card-title" v-html="question.question"></h5>
              <p class="card-text">
                Correct answer: <span v-html="question.correct_answer"></span>
              </p>
              <p
                class="card-text"
                :class="{
                  'bg-danger text-white': !question.isCorrect,
                  'bg-success text-white': question.isCorrect,
                }"
              >
                Your answer:
                <span v-html="question.answer"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button @click="handleReturnHome" class="btn btn-success btn-lg w-100">
    Return to home
  </button>
</template>

<script setup>
import { useRouter } from "vue-router";
import { useStore } from "vuex";
const store = useStore();
const router = useRouter();
const score = store.getters.getScore;
const highScore = store.getters.getHighScore;
const questions = store.state.questions;
const user = store.state.user;
const handleReturnHome = () => {
  router.push("/");
};
</script>

<style scoped></style>
