<template>
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">
        <h1><span v-html="question"></span></h1>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Question {{ questionNumber }}
      </h6>
      <!-- Alternatives -->
      <div class="d-grid gap-2">
        <button
          v-for="alternative in shuffledAlternatives"
          :key="alternative"
          v-html="alternative"
          class="btn btn-primary"
          @click="handleSelect"
          :value="alternative"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
const props = defineProps({
  selectedQuestion: Object,
  handleSelect: Function,
  questionNumber: Number,
});

const { category, question, correct_answer, incorrect_answers } =
  props.selectedQuestion;

const alternatives = [correct_answer, ...incorrect_answers];
// shuffle alternatives
const shuffledAlternatives = alternatives.sort(() => Math.random() - 0.5);
</script>

<style></style>
