<template>
  <form @submit="handleSubmit" class="form-api">
    <h1>TRIVIA</h1>
    <div class="mb-3">
      <label for="username">Username:</label>
      <input id="username" class="form-control" v-model="username" required />
    </div>
    <div class="mb-3">
      <label for="trivia_amount">Number of Questions:</label>
      <input
        v-model="amount"
        type="number"
        name="trivia_amount"
        id="trivia_amount"
        class="form-control"
        min="1"
        max="50"
      />
    </div>
    <div class="mb-3">
      <label for="trivia_category">Select Category: </label>
      <select name="trivia_category" class="form-control" v-model="category">
        <option value="any">Any Category</option>
        <option
          v-for="category in categories"
          v-bind:key="category.id"
          :value="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="trivia_difficulty">Select Difficulty: </label>
      <select
        name="trivia_difficulty"
        class="form-control"
        v-model="difficulty"
      >
        <option value="any">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <div class="mb-3">
      <button v-if="!isLoading" class="btn btn-lg btn-primary" type="submit">
        START
      </button>
      <button
        v-else-if="isLoading"
        class="btn btn-lg btn-primary"
        type="button"
        disabled
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>
  </form>
</template>

<script setup>
import { useRouter } from "vue-router";
import { computed, ref } from "vue";
import { useStore } from "vuex";
const router = useRouter();
// Inputs
const username = ref("user_" + Math.floor(Math.random() * 1000));
const difficulty = ref("any");
const amount = ref(10);
const category = ref("any");

const store = useStore();

store.dispatch("loadCategories");
const categories = computed(() => store.state.categories);
const isLoading = ref(false);
const handleSubmit = (e) => {
  isLoading.value = true;
  e.preventDefault();
  const options = {
    category: category.value,
    difficulty: difficulty.value,
    amount: amount.value,
  };

  store
    .dispatch("startGame", { options, username: username.value })
    .then(() => {
      // Redirect user to questions
      isLoading.value = false;
      router.push("/questions");
    });
};
</script>
